@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alfa+Slab+One&family=Barlow:wght@100;200;300&family=Bebas+Neue&family=Crete+Round&family=Michroma&family=Montserrat:wght@300;310&family=Noto+Serif+Display:ital@0;1&family=Outfit:wght@300;400&display=swap');

.NavBar {
    background-color: white;
}

.Logo {
    font-family: 'Michroma', sans-serif;
    font-size: 1.8em;
    margin-right: 30px;
}

.NavItem {
    margin-top: 8px;
    font-size: 1.3em;
    color: rgb(102, 101, 101);
    margin-right: 15px;
}

.NavItem:hover {
    color: black;
    text-decoration: none;
}

.NavItem .Active {
    color: black;
    border-bottom: 2px solid black;
}