@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alfa+Slab+One&family=Barlow:wght@100;200;300&family=Bebas+Neue&family=Crete+Round&family=Michroma&family=Montserrat:wght@300;310&family=Noto+Serif+Display:ital@0;1&family=Outfit:wght@300;400&display=swap');

.Logo {
    font-family: 'Michroma', sans-serif;
    font-size: 1.8em;
}

.NavItem {
    margin-top: 6px;
    font-size: 1.1em;
}