.BtnGroup {
    width: 80%;
    margin-left: 10%;
    margin-bottom: 50px;
}

.Btn {
    background-color: #e7f5d9;
    color: black;
    padding: 5px;
    width: 100%;
    border: 1px solid #677664 !important;
    border-radius: 5px;
}

.Btn:focus {
    color: black;
    text-decoration: none;
    box-shadow: none !important;
    background-color: #fff !important;
}

.Btn:hover {
    background-color: #fff !important;
    color: black !important;
}

.NavLink {
    color: black !important;
    text-decoration: none;
    display: inline-block;
    width: calc(100% / 3);
    flex-basis: calc(100% / 3);
}

.ActiveLink {
    color: black !important;
}

.NavLink:hover {
    color: black !important;
    text-decoration: none;
}

.NavLink:focus {
    color: black !important;
    text-decoration: none;
    box-shadow: none !important;
}


@media only screen and (min-width: 320px) and (max-width: 480px) {
    .BtnGroup {
        width: 90%;
        margin-left: 5%;
    }

    .Btn {
        background-color: #e7f5d9;
        color: black;
        border: 1px solid #677664 !important;
        font-size: x-small;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    .BtnGroup {
        width: 90%;
        margin-left: 5%;
    }
}