.Post {
  border: 1px solid #8ca088;
  border-radius: 5px;
  margin-bottom: 20px;
  text-align: center;
}

.Post figure,
h5 {
  margin: 0 0;
}

.OwnerTitle {
  color: black;
  font-weight: bold;
}

.icons {
  margin: 10px;
  color: black;
  text-align: center;
}

.icons:hover {
  margin: 10px;
  color: #8ca088;
  text-align: center;
}