.MainContent {
  width: 100%;
  border: 1px solid #8ca088;
  border-radius: 5px;
  height: 600px;
}

.CommentSection {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 80%;
  border: 1px solid #8ca088;
  border-radius: 5px;
  height: 100px;
}